.nav-pills > li > a {padding-top:2px !important; padding-bottom:2px !important;}
.navbar {min-height:32px !important}

span {
}
.define {
	color: #6f008a;
}
.var {
	color: #216f85;
}
.method{
	color: #880000;
}
.flow {	
	color: #000080;
}
.comment{
	color: #008000;
}